<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-8">
    <%= render partial: 'wikis/form', locals: { wiki: @wiki } %>
  </div>
</div>

<% if true %>
  <div class="form-group">
    <%= form_tag wiki_create_collaborators_path(@wiki) do %>
      <% users_array = User.all.map { |u| [u.name, u.id]} %>
      <%= select_tag('users', options_for_select(users_array, :selected => params[:users]), multiple: true) %>
      <%= submit_tag('Add Collaborator', name: 'collaborators[submit]') %>
    <% end %>
  </div>
<% end %>
